/*#MARGINS#*/
.margin-1 {
  margin: 8px;
}

.margin-x-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.margin-y-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-2 {
  margin: 16px;
}

.margin-x-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.margin-y-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.margin-3 {
  margin: 24px;
}

.margin-x-3 {
  margin-left: 24px;
  margin-right: 24px;
}

.margin-y-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.margin-4 {
  margin: 32px;
}

.margin-x-4 {
  margin-left: 32px;
  margin-right: 32px;
}

.margin-y-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.margin-5 {
  margin: 40px;
}

.margin-x-5 {
  margin-left: 40px;
  margin-right: 40px;
}

.margin-y-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-6 {
  margin: 48px;
}

.margin-x-6 {
  margin-left: 48px;
  margin-right: 48px;
}

.margin-y-6 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.margin-7 {
  margin: 56px;
}

.margin-x-7 {
  margin-left: 56px;
  margin-right: 56px;
}

.margin-y-7 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.margin-8 {
  margin: 64px;
}

.margin-x-8 {
  margin-left: 64px;
  margin-right: 64px;
}

.margin-y-8 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.margin-9 {
  margin: 72px;
}

.margin-x-9 {
  margin-left: 72px;
  margin-right: 72px;
}

.margin-y-9 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.margin-10 {
  margin: 80px;
}

.margin-x-10 {
  margin-left: 80px;
  margin-right: 80px;
}

.margin-y-10 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.padding-1 {
  padding: 8px;
}

.padding-x-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.padding-y-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-2 {
  padding: 16px;
}

.padding-x-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding-y-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.padding-3 {
  padding: 24px;
}

.padding-x-3 {
  padding-left: 24px;
  padding-right: 24px;
}

.padding-y-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.padding-4 {
  padding: 32px;
}

.padding-x-4 {
  padding-left: 32px;
  padding-right: 32px;
}

.padding-y-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding-5 {
  padding: 40px;
}

.padding-x-5 {
  padding-left: 40px;
  padding-right: 40px;
}

.padding-y-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-6 {
  padding: 48px;
}

.padding-x-6 {
  padding-left: 48px;
  padding-right: 48px;
}

.padding-y-6 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.padding-7 {
  padding: 56px;
}

.padding-x-7 {
  padding-left: 56px;
  padding-right: 56px;
}

.padding-y-7 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.padding-8 {
  padding: 64px;
}

.padding-x-8 {
  padding-left: 64px;
  padding-right: 64px;
}

.padding-y-8 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.padding-9 {
  padding: 72px;
}

.padding-x-9 {
  padding-left: 72px;
  padding-right: 72px;
}

.padding-y-9 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.padding-10 {
  padding: 80px;
}

.padding-x-10 {
  padding-left: 80px;
  padding-right: 80px;
}

.padding-y-10 {
  padding-top: 80px;
  padding-bottom: 80px;
}/*# sourceMappingURL=styles.css.map */